<div class="mt-4 mx-auto sm:px-6 lg:px-8 h-full rounded-lg">
  <div class="overflow-hidden">
    <div class="px-6 py-4 bg-white border-b rounded-t-lg border-gray-200 font-bold">
      <app-title-with-icon [title]="'About'" [icon]="'assets/icons/user.svg'" />
    </div>

    <div class="p-6 bg-white border-b border-gray-200">
      <form [formGroup]="profileForm">
        <div class="grid grid-cols-2 gap-4">
          <div class="pt-3">
            <app-form-field [formGroup]="profileForm" [label]="'Name'"
              fieldName="name" [placeholder]="'Name'" />
          </div>

          <div class="pt-3">
            <app-form-field [formGroup]="profileForm" [label]="'Email'"
              fieldName="email" [placeholder]="'Email'" />
          </div>
          <div class="pt-3">
            <app-form-field [formGroup]="profileForm" [label]="'Phone'"
              fieldName="phone" [placeholder]="'Phone'" />
          </div>
          <div class="pt-3">
            <app-datepicker [label]="'Birthday'"
              (dateSelected)="onBirthdaySelected($event)"
              formControlName="birthday" />
          </div>
          <div class="pb-4">
            <app-form-textarea [formGroup]="profileForm" [label]="'summary'"
              fieldName="summary"
              [placeholder]="'summary'" />
          </div>
        </div>
      </form>
    </div>

    <div class="p-6 bg-white border-gray-200 text-right rounded-b-lg">
      <app-button [label]="'Save'" (clicked)="onSubmit()" />
    </div>
  </div>
</div>
