<div class="mt-4 mx-auto sm:px-6 lg:px-8 h-full rounded-lg">
  <div class="overflow-hidden">
    <div
      class="px-6 py-4 bg-white border-b rounded-t-lg border-gray-200 font-bold">
      <app-title-with-icon [title]="'About'" [icon]="'assets/icons/user.svg'" />
    </div>
    <app-about-forms></app-about-forms>
  </div>
</div>
<!-- Experience -->
<div class="mt-4 mx-auto sm:px-6 lg:px-8 h-full rounded-lg">
  <div class="overflow-hidden">
    <div
      class="px-6 py-4 bg-white border-b rounded-t-lg border-gray-200 font-bold">
      <app-title-with-icon [title]="'Experience'"
        [icon]="'assets/icons/list.svg'" />
    </div>

    <!-- <app-experience-forms></app-experience-forms> -->

  </div>
</div>
