<div>
  <div class="relative overflow-x-auto py-4">
    <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right">
      <thead class="bg-gray-50 text-xs text-gray-700 dark:bg-night-700 dark:text-gray-400">
        @for (item of columns; track $index) {
        <th scope="col" class="px-6 py-3 capitalize">{{ item | appSeparateCapitalWords }}</th>
        }
        <th scope="col" class="px-6 py-3">Action</th>
        <tr>
        </tr>
      </thead>
      <tbody>
        @for (row of data; track $index) {
        <tr
          class="border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-night-700 even:dark:bg-night-800">
          @for (col of columns; track $index) {
            @if (row[col]?.name) {
            <td class="px-6 py-4 text-xs font-semibold">{{ row[col]?.name | appTextOverflow: 10 }}</td>
            } @else if (row[col] === row.status) {
            <app-status-badges [status]="row[col]"></app-status-badges>
            } @else if (row[col] === row.appliedOn || row[col] === row.jobPosted) {
              <td class="px-6 py-4 text-xs font-semibold">{{ row[col] | customDate }}</td>
            } @else {
            <td class="px-6 py-4 text-xs font-semibold">{{ row[col] | appTextOverflow: 20 }}</td>
            }
          }

          <td class="px-6 py-4">
            <button type="button" (click)="toggleMenu(row)"
              class="cursor-pointer font-medium text-primary-500 hover:underline dark:text-primary-500">
              <span>Edit</span>
            </button>
          </td>
        </tr>
        }

      </tbody>
    </table>
  </div>

  <div class="relative ml-3">
    <div [ngClass]="isMenuOpen
        ? 'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200'
        : 'pointer-events-none scale-95 opacity-0 duration-100 ease-in'
    " class="dropdown-menu">

      <ul class="my-2 mx-4">
        @for (menu of menus; track $index) {
        <li class="action-list" (click)="onItemClick(menu)">
          {{ menu }}
        </li>
        }
      </ul>
    </div>
  </div>

</div>
