:host {
  display: block;
}

.errors {
  &-message {
    @apply blink absolute left-0 font-semibold text-xs text-red-700;
  }
}

.label-valid {
  @apply text-xs font-medium text-gray-500 flex justify-center text-start;
}

.label-invalid {
  @apply text-xs font-medium text-red-700 flex justify-center text-start;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}