<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">
      Sign Up <span class="text-primary-500">!</span>
    </h2>
    <p class="text-sm text-gray-400 dark:text-night-200">
      Explore opportunities and stay organized as you track your job applications.
    </p>
  </div>

  <button type="button" routerLink="/dashboard" class="google-btn">
    <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"> </svg-icon>
    Log in with Google
  </button>

  <div class="divider"> <p>or</p> </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <app-form-field [formGroup]="form" [label]="'Username'"  fieldName="name" />
    </div>
    <div class="relative py-4">
      <app-form-field [formGroup]="form" [label]="'Email'" fieldName="email" />
    </div>
    <div class="relative">
      <app-form-password [formGroup]="form" [label]="'Password'" [placeholder]="'Password'" fieldName="password" />
    </div>
    <!-- Password Meeter -->
    <div class="grid grid-cols-4 gap-2">
      <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
      <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
      <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
      <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
    </div>
    <span class="text-xs text-gray-400 dark:text-night-300">Use 8 or more characters with a mix of letters, numbers &
      symbols.</span>
    <div class="relative">
       <app-form-password [formGroup]="form" [label]="'Confirm Password'" [placeholder]="'Confirm Password'" fieldName="confirmPassword" />
    </div>
  </div>

<app-form-checkbox [formGroup]="form" [label]="'Accept Terms'" [placeholder]="'Accept Terms'" fieldName="acceptTerms" />

  <!-- Submit Button -->
  <button type="submit" [disabled]="form.invalid"
    class="submit-btn">
    Sign up
  </button>

  <!-- Sign-up -->
  <div class="text-sm text-gray-400 dark:text-night-200">
    Already have an Account? <a routerLink="/auth/sign-in" class="text-primary-500 hover:text-primary-400">Sign in</a>
  </div>
</form>
