@if(user) {
<div class="mb-4">
  <div class="container mx-auto p-5">
    <div class="md:flex no-wrap md:-mx-2 ">
      <div class="w-full md:w-3/12 md:mx-2 max-h-full">
        <div class="bg-white p-3 border-t-4 border-green-400 rounded-lg">
          <div class="flex flex-col items-center">
            <img [src]="randomAvatar" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0" />
            <h1 class="text-xl font-bold">{{ user.name }} </h1>
            <p class="text-gray-700">{{ user.experience[0].position }}</p>
            <div class="mt-6 flex flex-wrap gap-4 justify-center">
              <app-button [label]="'Update'" (clicked)="sidebarVisible = true" />
            </div>
          </div>
          <app-read-more [text]="user.summary!" [maxHeight]="100"></app-read-more>
        </div>
        <div class="my-4"></div>
      </div>

      <div class="w-full md:w-9/12 mx-2 h-64">
        <app-title-gradient [title]="'About'" [size]="'text-2xl'" />
        <app-fieldset-wrapper [title]="'About'" (updateEvent)="onUpdate()" (deleteEvent)="onRemove()">
          <app-summary-display [user]="user" [isProfile]="true" />
        </app-fieldset-wrapper>

        <app-title-gradient [title]="'Education'" [size]="'text-2xl'" />
         @for (item of education; track $index) {
           <app-fieldset-wrapper [title]="item.title" (updateEvent)="onUpdateEducation()" (deleteEvent)="onRemove()">
               <app-summary-display [education]="item" [isEducation]="true" />
           </app-fieldset-wrapper>
         }
        <div class="my-4"></div>

        <app-title-gradient [title]="'Experience'" [size]="'text-2xl'" />
         @for (item of experience; track $index) {
           <app-fieldset-wrapper [title]="item.position" (updateEvent)="onUpdateExperience()" (deleteEvent)="onRemove()">
               <app-summary-display [experience]="item" [isExperience]="true" />
           </app-fieldset-wrapper>
         }
        <div class="p-4"></div>
      </div>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="w-[30rem]">
  @if (isProfile) {
    <app-about-forms [isAboutFormOpen]="isProfile" [user]="user"></app-about-forms>
  } @else if (isExperience) {
    <app-experience-forms [isAboutFormOpen]="isProfile"></app-experience-forms>
  }
</p-sidebar>

}
