    <div class="form__group relative" [formGroup]="formGroup">
      <div class="relative">
        <input [type]="passwordTextType ? 'text' : 'password'" class="peer block z-0"
          [ngClass]="{ 'errors-field': isInvalid }" [placeholder]="placeholder" [formControlName]="fieldName" />
        <label [ngClass]="{ 'errors-label': isInvalid }"> {{ label }} </label>
        <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300"
          (click)="togglePasswordTextType()">
          <svg-icon [src]="
              !passwordTextType
                ? 'assets/icons/heroicons/outline/eye-off.svg'
                : 'assets/icons/heroicons/outline/eye.svg'
            " [svgClass]="'h-5 w-5'">
          </svg-icon>
        </span>
      </div>
      @if (isInvalid) {
        <div class="errors-message">{{ errorMessage }}</div>
      }
    </div>
