<div class="p-6">
  <div class="card-container">
    <form [formGroup]="form">
      <div class="py-4">
        <app-form-field [formGroup]="form" [label]="'Position'" fieldName="position" [placeholder]="'Position'" />
      </div>
      <div class="py-4">
        <app-form-field [formGroup]="form" [label]="'Company Name'" fieldName="companyName"
          [placeholder]="'Company Name'" />
      </div>
      <div class="py-4">
        <app-form-field [formGroup]="form" [label]="'Location'" fieldName="location" [placeholder]="'Location'" />
      </div>
      <div class="py-4">
        <app-form-select [formGroup]="form" fieldName="jobType" id="jobType" label="Select Job Type"
          placeholder="Choose Job Type" [options]="jobTypes" />
      </div>
      <div class="py-4">
        <app-form-select [formGroup]="form" fieldName="status" id="status" label="Select Status"
          placeholder="Choose Status" [options]="status" />
      </div>

      <app-datepicker [label]="'Applied On'" (dateSelected)="onAppliedOnSelected($event)"></app-datepicker>

      <div>
        <app-form-select [formGroup]="form" fieldName="categoryId" id="categoryId" label="Category"
          placeholder="Select Category" [options]="categories" />
      </div>
      <div class="pt-4">
        <app-datepicker [label]="'Job Posted'" (dateSelected)="onJobPostedSelected($event)"></app-datepicker>
      </div>
      <div class="mt-6 flex items-center gap-3">
        <app-button [label]="label" (clicked)="onSubmit()" [isDisabled]="form.invalid" />
        <app-button [label]="'Cancel'" (clicked)="goBack()" />
      </div>
    </form>
  </div>

</div>
