<div class="form-group relative" [formGroup]="formGroup">
  <label [for]="id" [ngClass]="{ 'errors-label': isInvalid }"> {{ label }} </label>
  <select [id]="id" [formControlName]="fieldName" [ngClass]="{ 'errors-field': isInvalid }">
    <option *ngIf="placeholder" [value]="''" disabled selected>{{ placeholder }}</option>
    <option *ngFor="let option of options" [value]="option.value || option.id" class="font-sm text-xs">
     <span>
      {{ option.label || option.name }}
     </span>
    </option>
  </select>
  <div *ngIf="isInvalid" class="errors-message">{{ errorMessage }}</div>
</div>
