<div class="flex h-full w-full">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary-500 bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-2xl font-bold">"Smart, Organized, and Effective"</h1>
      <p class="text-xs font-light">
        Our platform offers powerful tools to streamline your job hunt. Easily track applications, stay organized with reminders, and maximize your productivity. With intuitive features designed specifically for job seekers, you can focus on landing your dream job while we take care of the details..
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-white dark:bg-night-700">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
