@if (activities && activities.length
<= 0) { <app-empty-record-message [routes]="'/activities/forms'" />
} @else {
<app-card-wrapper [title]="'Activities'">
  <ng-container content>
    @if (pagination) {
    <app-table [columns]="columns" [data]="activities | paginate : {
                      itemsPerPage: pagination.perPage,
                      currentPage: pagination.currentPage,
                      totalItems: pagination.total
                    }" (itemClicked)="onDropdownItemClick($event)" />
    }

    @if (showConfirmDialog) {
    <app-confirm-dialog [message]="'Do you want to proceed?'" (confirmed)="onConfirmation($event)" />
    }
  </ng-container>
  <ng-container footer>
    <app-pagination [pagination]="pagination" (pageChange)="onPageChanged($event)"></app-pagination>
  </ng-container>

</app-card-wrapper>
}
